@font-face {
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}
*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align:center;
}

img {
    margin: 20px;
    cursor:pointer;
}



.canvas {
    border: black 1px solid;
    height: 100%;
    width: 50%;
}

.main-header {
    text-align: center;
    background-color: gray;
    height: 15vh
}

.editing-page{
    height:100vh;
}

.canvas-container{
    height:50%;
}

.text-changes{
    height:50%;
}