@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Black.ttf);
}

@font-face {
    font-family: brands;
    src: url(../fonts/Awesome/fa-brands-400.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-family: lato;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #22252c;
}

img {
    margin: 20px;
    height: 300px;
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.6s;
}

img:hover {
    height: 310px;
}

.main-layout {
    max-width: 1280px;
    margin: 0 auto;
}

.canvas {
    border: black 1px solid;
    height: 100%;
    width: 50%;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    border-radius: 3rem;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.logo {
    font-family: poppins;
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
    gap: 40px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.main-page {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #383b42;
}

.nav-bar a:hover {
    color: white;
}

.main-footer {
    display: flex;
    flex-direction: column;
    height: 15vh;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    justify-content: space-around;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(166, 252, 177);
    font-family: brands; 
}

a {
    cursor: pointer;
    text-decoration: none;
    color:rgb(179, 179, 179);
}

.socials .fac::before {
    content: "\f39e";
}

.socials .inst::before {
    content: "\f16d"
}

.socials .git::before {
    content: "\f09b"
}

.socials .facebook:hover {
    background-color: #3b5998;
}

.socials .instagram:hover {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

.socials .github:hover {
    background-color: #383b42;
    ;
}

.editing-page {
    height: 100vh;
}

.canvas-container {
    height: 50%;
}

.text-changes {
    height: 50%;
}

@media (max-width:980px) {
    .main-layout {
        max-width: 740px;
    }
}

@media (max-width:740px) {
    .main-layout {
        max-width: 360px;
    }
}

/* HELPERS */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}